<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/cards.css" />
  </head>

  <body>
    <div id="container">
      <div id="error-box" class="box">
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="message">
          <h1 class="alert">Erro!</h1>
          <p>Ah não, este nome de usuário ou email já estão em uso.</p>
        </div>
        <button class="try-again button-box" onclick="toRegister()">
          <h1 class="red">Tente novamente</h1>
        </button>
      </div>
    </div>

    <script src="js/functions.js"></script>
  </body>
</html>
