<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="css/style1.css" />
</head>
<body>
  <div class="container" >
    <div class="content">      
      <!--FORMULÃRIO DE LOGIN-->
      <div id="login">

        <form method="post" action="/noticias/" enctype="multipart/form-data"> 
          <h1>Nova noticia</h1> 
          <p> 
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" required="required" type="text" placeholder="ex. Palmeiras ganha mundial"/>
          </p>
           
          <p> 
            <label for="imagem">Imagem</label>
            <input id="imagem" name="imagem" type="file" /> 
          </p>
           
           
          <p> 
            <input type="submit" value="Salvar" /> 
          </p>
           
        </form>
      </div>
 
     
      </div>






    </div>
  </div>  
</body>
</html>