<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/cards.css" />
  </head>

  <body>
    <div id="container">
      <div id="success-box" class="box">
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
          <h1 class="alert">Sucesso!</h1>
          <p>Seu cadastro foi concluído.</p>
        </div>
        <button class="button-box" onclick="toHome()">
          <h1 class="green">continuar</h1>
        </button>
      </div>
    </div>

    <script src="js/functions.js"></script>
  </body>
</html>
