body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

header {
  display: flex;
  background-color: #f3f3f3;
  min-height: 3em;
}

.general-padding {
  padding: 0 4rem;
}

.bold {
  font-weight: bold;
}

.globo {
  color: #0669de;
}

.g1 {
  color: #a80000;
}

.ge {
  color: #3e831e;
}

.gshow {
  color: #ff7f00;
}

.globo-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
  margin: auto;
}

.globo-links li {
  float: left;
}

.globo-links li a {
  display: block;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
}

.links-wrap {
  width: 50%;
  text-align: right;
  margin: auto;
}

.links-wrap button {
  color: #666;
  background-color: #eaeaea;
  padding: 3px 3px 2px;
  border-radius: 2px;
  border-color: #f3f3f3;
  border-width: 1px;
}

.links-header {
  font-size: smaller;
  text-decoration: none;
  color: #999;
}

.menu-wrap {
  background-color: #3b9c00;
  min-height: 60px;
  display: flex;
  color: white;
  font-weight: bold;
}

.menu-wrap .vertical-align {
  margin: auto 0;
}

.menu-icon {
  max-height: 1em;
  margin: auto 0;
  padding: 0 8px;
}

.menu-link {
  padding-right: 80px;
}

.menu-wrap a {
  font-size: 2em;
  padding: 18px;
  margin: auto !important;
}

input[type=search] {
	background: #328500;
  border: none;
	padding: 9px 10px 9px 32px;
	width: 120px;
	border-radius: 10em;
	transition: all .5s;
}
input::placeholder {
  color: white;
  font-weight: bold;
}
input[type=search]:focus {
	width: 180px;
	background-color: #fff;
	border-color: #66CC75;
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input[type=search]:focus::placeholder {
  color: gray;
}

.premiere-play {
  min-height: 48px;
  background-color: white;
  border-bottom: 1px solid #c5c5c5;
  display: flex;
}

.premiere-play p, .premiere-play div, .premiere-play a {
  margin: auto 0;
  padding: 24px 0;
}

.premiere-play p {
  padding-left: 30px;
}

.premiere-play a {
  padding: 12px 24px;
  margin-left: 39%;
  color: rgb(59, 156, 0);
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(59, 156, 0);
}

.float-left {
  float: left;
}

.image-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}

.biggest-image {
  width: 50%;
  float: left;
}

.other-images {
  max-width: 49%;
  float: right;
}

.other-images div {
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
}

.first-image {
  margin-top: 0 !important;
}

.image-wrap img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  header, .responsive {
    display: none;
  }

  .biggest-image, .other-images {
    width: 100%;
  }

  .other-images {
    float: none;
    max-width: unset;
  }

  .other-images div {
    width: 100%;
    margin: 0;
  }

  .general-padding {
    padding: 0 0.5rem;
  }

  .menu-icon {
    font-size: 1.8em;
  }

  .menu-link {
    display: none;
  }

  .premiere-play div, .premiere-play p {
    display: none;
  }

  .premiere-play a {margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
